.root {
  display: flex;
  font-family: 'Roboto', sans-serif;
  gap: 30px;
  background-color: #0079BF;
  width: 100%;
  height: calc(100vh - 110px);
  padding: 20px;
  box-sizing: border-box;
  justify-content: center;
}

@media screen and (max-width: 1240px) {
  .root {
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;
  }
}

@media screen and (max-width: 650px) {
  .root {
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
  }
}