.root {
  background-color: #0079BF;
  width: 100%;
  height: calc(100vh - 110px);
  display: flex;
  justify-content: center;
  align-items: center;

  .descriptionContainer {
    position: relative;
    background-color: white;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    border-radius: 5px;
    padding: 30px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;


    .textAreaContainer {
      display: flex;
      gap: 20px;
      flex-direction: column;
      width: 501px;

      .input {
        width: 500px;
        min-height: 100px;
        box-sizing: border-box;
        border-radius: 2px;
        border: darkgray 1px solid;
        padding-inline: 10px;
        outline: none;
        margin-top: 30px;
      }

      .confirmButton {
        width: 80px;
        height: 35px;
        border-radius: 6px;
        border: none;
        box-shadow: rgba(0, 0, 0, 0.35) 0 5px 15px;
        cursor: pointer;
        font-family: 'Roboto', sans-serif;
        align-self: flex-end;
      }

      .confirmButton:hover {
        background-color: #0079BF;
        color: white;
        transition: background-color 400ms ease-in-out;
      }
    }


    .descriptionParagraph {
      width: 620px;
      font-size: 18px;
      margin-top: 30px;
      cursor: pointer;
    }

    .descriptionTitle {
      font-weight: 400;
      font-size: 24px;
    }

    .closeButton {
      position: absolute;
      cursor: pointer;
      right: 20px;
      top: 20px;
      width: 35px;
      height: 35px;
      padding-top: 15px;
      padding-left: -3px;
      box-sizing: border-box;

      .lineOne, .lineTwo {
        transform: rotate(45deg);
        width: 35px;
        height: 1px;
        border: none;
        background-color: black;
      }

      .lineTwo {
        position: absolute;
        bottom: 19px;
        transform: rotate(-45deg);
      }
    }
  }
}