.root {
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: min-content;
  padding: 10px;
  width: 258px;
  margin: 0 10px 10px 0;
}

.linkStyle {
  text-decoration: none;
  color: black;

  :visited {
    color: black;
  }
}

@media screen and (max-width: 945px) {
  .root {
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
  .root {
    width: 95%;
  }
}