.root {
  background-color: white;
  border-radius: 6px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 7px;
  height: max-content;
  padding: 10px;
  width: 282px;
  margin-bottom: 10px;
}

.title {
  margin-top: 5px;
}
