.root {
  width: 282px;
  height: max-content;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 6px;
  margin-top: 20px;
  padding-left: 20px;
  box-sizing: border-box;
  gap: 7px;

  .addCard {
    color: #5E6C84;
    cursor: pointer;
  }

  .input {
    width: 80%;
  }
}