.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  //gap: 10px;
  border-radius: 5px;
  position: absolute;
  right: 10px;
  top: 65px;
  width: 134px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  padding: 10px;

  .avatarPointer {
    background-color: white;
    position: absolute;
    width: 11px;
    height: 11px;
    transform: rotate(45deg);
    border: 1px white solid;
    border-right: none;
    border-bottom: none;
    right: 38px;
    top: -6px
  }

  span {
    cursor: pointer;
    transition: 1s ease-in-out;
    padding: 5px;
  }

  span:hover {
    color: #0079BF;
    box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
    transition: 400ms color ease-in-out;
  }
}