.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0067A3;
  z-index: 0;
  height: 55px;
}

.headerTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: white;
  margin-left: 10px;
}

.userName {
  display: none;
}


@media screen and (max-width: 530px) {
  .root {
    .headerTitle {
      display: none;
    }

    .userName {
      display: block;
      font-family: 'Roboto', sans-serif;
      font-size: 28px;
      font-weight: 400;
      color: white;
      margin-left: 10px;
    }
  }
}